$menuColor:#ffffff;
$borderColor:#ffffff;
$selectedColor:#3498DB;
$mainColor:#409EFF;
$sidebarWidth: 160px;
$lSidebarWidth:90px;
$mSidebarWidth:180px;
$colorBtnHover:#69c;
$menuHoverColor:#69c;
$tableBorderColor:#c7c7c7;
$headerColor:#434B7E;
// 长度单位
$headerTop:50px;
$height:50px;
.width70{width: 70px;}.width80{width: 80px;}.width100{width: 100px;}.width120{width: 120px;}.width140{width: 140px;}.width160{width: 160px;}.width220{width: 220px;}.width240{width: 240px;}
.width260{width: 260px;}.width280{width: 280px;}
.margint{margin-top: 10px;}.marginb{margin-bottom: 6px;}
.margR20{margin-right: 20px;}
.margT3{margin-top: 3px;}.margT4{margin-top: 4px;}.margT6{margin-top: 6px;}.margT8{margin-top: 8px;}.margT10{margin-top: 10px;}.margT20{margin-top: 20px;}
.margL10{margin-left: 10px;}.margL20{margin-left: 20px;}.margL40{margin-left: 40px;}
.margL100{margin-left: 100px;}.margL200{margin-left: 200px;}
.gray{color: #787878}
.blue{color: #006BD4;}
.white{color: white;}
.green{color: green;}
.freeColor,.orderBgColor{
  background-color: #90C8FF;
}
.inline{
  display: inline-block;
}
.opacity0{opacity: 0}
.hidden{overflow: hidden;}
.left{float: left;}
.right{float: right;}
.clear{clear: both;}
.block{display: block;}
.ellipsis{
  overflow: hidden;  /*溢出隐藏*/
  text-overflow: ellipsis; /*以省略号...显示*/
  white-space: nowrap;  /*强制不换行*/
}
.mask{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
    opacity: 0
}

@mixin extend() {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
// 扩展点击区域
@mixin extend_click() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
  }
}
// 修改bootstrap内部样式
.el-table td, .el-table th{
  padding: 5px 0px;
}
.el-breadcrumb{
  height: 40px;
  line-height:42px;
  margin-left: 10px;
}
.el-button{
  margin-left: 0 !important;
}
.wrapper{
  padding:12px 20px;
  background-color: white;
}
// 面包屑导航
.breadcrumbWrapper{
  border: 1px solid #F3F2F2; 
  background-color: #F2F2F2;
  .breadcrumb{
    margin-left: 18px;
    height: 40px;
    line-height: 40px;
  }
  .iconhomestyle{
    float: left;
    font-size: 20px !important;
  }
  .nocurrent{
    color: #9c9c9c;
  }
}
// 分页按钮
.tableBottom{
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}

.el-dialog__body{
  padding:10px 20px;
  padding-bottom:20px;
}

.dialogModel{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 2003;
  width: 400px;
  padding: 10px 20px 20px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius:6px;
  -moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;
  .header{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #646464;
  }
  .footer{
    margin-top: 24px;
  }
}
$tableTDheight: 50px;
.tablelineheight{
  line-height: $tableTDheight;
}
table.thisTableCheck{
  width: 900px;
  border: 1px solid $tableBorderColor;
  border-right:none;
  background-color: white;
  margin-top: 10px;
  .header{
    background-color: $mainColor;
    color: white;
  }
  tr{
    white-space:nowrap;
    text-align: center;
    border-bottom: 1px solid $tableBorderColor;
    // &:nth-child(2),&:nth-child(5),&:nth-child(11){
    //   background-color: #ECFCFF;
    // }
    &:nth-child(even) {
      background-color: #ECFCFF;
    }
  }
  tr>th,tr>td{
    display: inline-block;
    width: 170px;
    height: $tableTDheight;
    border-right:1px solid $tableBorderColor;
    // vertical-align: inherit;
  }
  th:first-child{
    width: 200px;
  }
  tr>td:first-child{
    width: 200px;
  }
}
table.thatTable{
  width: 100%;
  border: 1px solid $tableBorderColor;
  border-right:none;
  margin-left: 60px;
  background-color: white;
  .header{
    background-color: $mainColor;
    color: white;
  }
  tr{
    white-space:nowrap;
    border-bottom: 1px solid $tableBorderColor;
    // &:nth-child(2),&:nth-child(5),&:nth-child(10){
    //   background-color: #B1F1FF;
    // }
    &:nth-child(even) {
      background-color: #ECFCFF;
    }
  }
  tr>th{
    width: 150px;
    height: $height;
    line-height: $height;
    border-right:1px solid $tableBorderColor;
    box-sizing: content-box;
    padding: 0 6px; 
  }
  tr>td{
    width: 150px;
    height: $height;
    border-right:1px solid $tableBorderColor;
    box-sizing: content-box;
    padding: 0 6px;
    cursor: pointer;
    &:hover{
      background-color:rgba(0,44,253,0.3);
    }
  }
}

.header{
  background-color: $mainColor;
  color: white;
}
table.setRolePermissionsTable{
  margin-top: 10px;
  box-sizing:content-box;
  tr{
    border-bottom: 1px solid $tableBorderColor;
    border-left: 1px solid $tableBorderColor;
    box-sizing:content-box;
    th{
      height: 40px;
      line-height: 40px;
      min-width: 100px;
      padding-left: 10px;
      border-right:1px solid $tableBorderColor;
      box-sizing:content-box;
      text-align: left;
    }
    td{
      min-width: 100px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-right: 1px solid $tableBorderColor;
      box-sizing: content-box;
    }
  }
}




.users{
  overflow: hidden;
  margin-top: 20px;
  border-top: 1px solid #646464;
  padding-top: 20px;
  display: flex;
  align-items: center;
  .avater{
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
  .name{
    flex: 1;
    margin-left: 20px;
  }
}